body {
    font-family: 'Times New Roman';
}
h1 {
    text-align: center;
    color: palegoldenrod;
    font-size: 30;
}
hr {
    color: aqua;
    size: 2;
    margin: 0px 500px 0px ;
    height: 2px;
}
.gallery {
    margin: 10px 50px;
}
.gallery img {
    width: 230px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}